<footer class="footer">
	<div class="footer__container">
		<div class="footer__column">
			<img class="footer__logo" src="@images/logo.png" alt="logo">
		</div>
		<div class="footer__column">
			<div class="footer__section">
				<a class="footer__title">О компании</a>
				<a class="footer__link footer__text">Карьера</a>
				<a class="footer__link footer__text">Документация</a>
				<a class="footer__link footer__text">Новости</a>
				<a class="footer__link footer__text">Лицензии</a>
			</div>
			<div class="footer__section">
				<a class="footer__title">Контакты</a>
			</div>
		</div>
		<div class="footer__column">
			<div class="footer__section">
				<a class="footer__title">Проектирование</a>
				<a class="footer__link footer__text">Направления проектирования</a>
				<a class="footer__link footer__text">Значимые проекты</a>
				<a class="footer__link footer__text">Результаты проектирования</a>
			</div>
			<div class="footer__section">
				<a class="footer__title">Землеустройство</a>
				<a class="footer__title">Авторский надзор</a>
				<a class="footer__title">Системы качества</a>
			</div>
		</div>
		<div class="footer__column">
			<a class="footer__title">Изыскания</a>
			<a class="footer__link footer__text">Инженерно-геодезические изыскания</a>
			<a class="footer__link footer__text">Инженерно-геологические изыскания</a>
			<a class="footer__link footer__text">Инженерно-метеорологические изыскания</a>
			<a class="footer__link footer__text">Инженерно-экологические изыскания</a>
			<a class="footer__link footer__text">Оборудование и техника</a>
		</div>
		<div class="footer__column">
			 <a class="footer__phone" href="tel:+7 (347) 246-28-13">+7 (347) 246-28-13</a>
			 <span class="footer__adress">450075, Россия, Башкортостан г. Уфа, пр. Октября, д. 151</span>
			 <div class="footer__social">
				<a href="https://youtube.com"><img class="footer__social-icon" src="@icons/youtube.svg"></a>
				<a href="https://vk.com"><img class="footer__social-icon" src="@icons/vk.svg"></a>
				<a href="https://web.telegram.org"><img class="footer__social-icon" src="@icons/telegram.svg"></a>
			 </div>
		</div>
	</div>
	<div class="footer__container">
		<span class="footer__text">Copyrights © Югранефтегазпроект. 2023</span>
		<a href="https://wptt.ru" class="footer__text">Разработка - Вебпространство</a>
	</div>
</footer>
