<section class="contact__container">
	<div class="contacts__info">
		<a href="tel:+7 (347) 246-28-13"><img src="@icons/phone-blue.svg">+7 (347) 246-28-13</a>
		<a href="mailto:postbox@ugrangp.ru"><img src="@icons/email-blue.svg">postbox@ugrangp.ru</a>
		<span><img src="@icons/location-blue.svg">Россия, Республика Башкортостан, г. Уфа, пр. Октября, д.151</span>
		<button class="contacts__button">Карта партнёра</button>
	</div>
	<div class="contacts__map">
		<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A13aa5c0b4c5957d038cb7b89387bb954e68f59b0a05f961598a805595b76b738&amp;width=100%&amp;height=391&amp;lang=ru_RU&amp;scroll=true"></script>
	</div>
</section>
