.about-company {
	max-width: 1920px;
	background-color: #F8F8F8;
	display: flex;
	justify-content: center;
}

.about-company__wrapper {
	width: 1350px;
	padding: 40px;
	background-color: #FFFFFF;
	display: flex;
	gap: 30px;
}

.about-company__text {
	color: #16274A;
	font-weight: 700;
}

.about-company__text h2 {
	font-size: 32px;
	line-height: 120%;
}

.about-company__text p {
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	margin-bottom: 10px;
}

.about-company__text ul {
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	margin-bottom: 10px;
}

.about-company__text li {
	list-style-type: disc;
	margin-left: 17px;
}

.about-company__content {
	width: 840px;
}

.about-company__right-bar {
	width: 330px;
}

.about-company .presentation {
		position: sticky;
		top: 0;
		margin: 0 auto;
}

@media screen and (max-width: 1350px) {
	.about-company .presentation {
		position: unset;
	}

	.about-company {
		padding: 0 15px;
	}

	.about-company__wrapper {
		width: 100%;
		flex-direction: column;
		align-items: center;
		padding: 20px 0px;
	}
}

@media screen and (max-width: 991px) {
	.about-company__content {
		width: 100%;
	}

	.about-company__text {
		padding: 0 10px;
	}

	.about-company__text h2 {
		font-size: 26px;
	}

	.about-company__text p {
		font-size: 14px;
	}

	.about-company__text ul {
		font-size: 14px;
	}
}
