.contacts {
	max-width: 1920px;
	background-color: #F8F8F8;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 80px 0 120px 0;
}

.contacts__wrapper {
	width: 1350px;
	padding: 30px;
	background-color: #FFFFFF;
}

.contacts h1 {
	font-weight: 700;
	font-size: 54px;
	line-height: 120%;
	color: #16274A;
}

.contact__container {
	display: flex;
	gap: 40px;
	margin-top: 60px;
}

.contacts__info {
	width: 100%;
	max-width: 564px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	height: fit-content;
}

.contacts__info a {
	display: flex;
	align-items: center;
	height: 90px;
	background: #F8F8F8;
	width: 50%;
	max-width: 277px;
	padding: 0 10px;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #16274A;
}

.contacts__info span {
	display: flex;
	align-items: center;
	height: 90px;
	background: #F8F8F8;
	width: 50%;
	max-width: 277px;
	padding: 0 10px;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #16274A;
	width: 100%;
	max-width: unset;
}

.contacts__info button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 237px;
	height: 54px;
	background-color: #FFD130;
	clip-path: polygon(6% 0, 100% 0, 100% 60%, 94% 100%, 0 100%, 0 40%);
	color: #36260E !important;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	border: none;
}

.contacts__map {
	width: 100%;
	max-width: 686px;
}


@media screen and (max-width: 1350px) {
	.contacts {
		padding: 60px 15px 60px 15px;
	}

	.contacts__wrapper {
		width: 100%;
	}
}

@media screen and (max-width: 1260px) {
	.contacts__info a {
		width: 100%;
		max-width: unset;
	}
}

@media screen and (max-width: 991px) {
	.contacts__wrapper {
		padding: 20px 10px;
	}

	.contacts h1 {
		font-size: 30px;
	}

	.contact__container {
		flex-wrap: wrap;
		margin-top: 20px;
	  gap: 20px;
	}

	.contacts__info {
		max-width: unset;
	}

	.contacts__map {
		max-width: unset;
	}
}

@media screen and (max-width: 500px) {
	.contacts__info button {
		width: 100%;
	}
}


