.cookie {
	position: fixed;
	z-index: 9999999;
	bottom: 0;
	left: 0;
	right: 0;
	font-size: 18px;
	line-height: 150%;
	color: #888888;
	background: #F8F8F8;
	padding: 10px 20px;
	margin: 0 auto;
	padding: 38px 0 70px 0;
}

.cookie a {
	color: #16274A;
	transition: all 0.4s ease-in-out;
}

.cookie a:hover {
	color: #6382C2;
}

.cookie__container {
	display: flex;
	max-width: 1350px;
	margin: 0 auto;
	justify-content: space-between;
}
.cookie__button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 237px;
	height: 54px;
	background-color: #FFD130;
	clip-path: polygon(6% 0, 100% 0, 100% 60%, 94% 100%, 0 100%, 0 40%);
	color: #36260E !important;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	border: none;
	transition: all 0.4s ease-in-out;
}

.cookie__button:hover {
	background-color: #FFF6D6;
}

@media screen and (max-width: 1380px) {
	.cookie__container {
		margin: 0 15px;
	}
}

@media screen and (max-width: 991px) {
	.cookie{
		width: 100%;
		padding: 38px 0 38px 0;
	}

	.cookie__container {
		flex-direction: column;
		gap: 20px;
	}
}

@media screen and (max-width: 500px) {
	.cookie__button {
		width: 100%;
	}
}
