.directions {
	width: 100%;
	min-height: 720px;
	padding-top: 200px;
	padding-bottom: 120px;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: relative;
	background: linear-gradient(0deg, rgba(22, 39, 74, 0.5), rgba(22, 39, 74, 0.5));
	overflow: hidden;
}

.directions__container {
	display: flex;
	flex-direction: column;
	width: 1350px;
	margin: 0 15px 0 15px;
}

.directions__direction {
	min-height: 100px;
}

.directions__direction_active:hover {
	opacity: 1;
}

.directions__header {
	display: flex;
	justify-content: space-between;
	margin: 25px 0 25px 0;
	align-items: center;
}

.directions__background-image {
	position: absolute;
	z-index: -2;
	top: 0;
	display: none;
	animation: shows 0.5s;
	left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

@keyframes shows {
	from {
	opacity: 0;
	}
	to {
	opacity: 1;
	}
}

.directions__background-image_active {
	display: block;
}

.directions__direction-title {
	margin: 0;
	font-weight: 700;
	font-size: 32px;
	line-height: 120%;
	color: rgba(255, 255, 255, 0.7);
	transition: opacity 0.4s ease;
}

.directions__direction-title:hover:not(.directions__direction-title_active) {
	opacity: 0.7;
	cursor: pointer;
}

.directions__direction-button {
	margin: 0;
	width: 50px;
	height: 50px;
	border: none;
	background-color: transparent;
	background-image: url(@icons/accordion-arrow-white.svg);
	transition: all 0.4s ease;
	position: relative;
	transform: rotate(180deg);
	cursor: unset;
}

.directions__direction-button:hover:not(.directions__direction-button_active) {
	background-image: url(@icons/accordion-arrow-hover.svg);
}

.directions__direction-button:hover:not(.directions__direction-button_active) {
	cursor: pointer;
}

.directions__direction-button_active {
	transform: rotate(0deg);
}

.directions__about {
	padding: 30px 30px 30px 30px;
	background-repeat: no-repeat;
	display: none;
	background-image: url(@icons/directions-about-border.svg);
	background-size: cover;
	border-bottom: solid 1px #FFFFFF;
	border-right: solid 1px #FFFFFF;
}

.directions__about_active {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.directions__about-title {
	display: none;
	font-weight: 700;
	font-size: 32px;
	line-height: 150%;
}

.directions__about-text {
	margin: 10px 0 20px 0;
	padding: 0;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #FFFFFF;
}

.directions__about-button {
	width: 158px;
	height: 54px;
	background-image: url(@icons/directions-button.svg);
	background-repeat: no-repeat;
	color: #FFD130;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	clip-path: polygon(6% 0,100% 0,100% 75%,94% 100%,0 100%,0 25%);
	transition: all 0.5s ease;
}

.directions__about-button:hover {
	background-image: unset;
	color: #16274A;
	background: #FFD130;
}

@media screen and (max-width: 1380px) {
	.directions {
		padding-top: 60px;
	}
}

@media screen and (max-width: 1020px) {
	.directions {
		padding-bottom: 60px;
	}

	.directions__background-image {
		top: 0;
	}
}

@media screen and (min-width: 1020px) {
	.directions__container {
		position: relative;
	}

	.directions__direction {
		display: flex;
		width: 50%;
	}

	.directions__direction_active {
		background-image: url(@icons/direction-underline.svg);
		background-repeat: no-repeat;
		background-position: bottom left;
		background-size: contain;
	}

	.directions__direction-title_active {
		font-size: 42px;
		color: #FFFFFF;
	}

	.directions__direction-button {
		display: none;
	}

	.directions__about {
		position: absolute;
		right: 0%;
		top: 0%;
		margin: 0;
		width: 50%;
	}

	.directions__about-title {
		display: inline;
		color: #FFFFFF;
	}

}

@media screen and (max-width: 460px) {
	.directions__direction-title {
		font-size: 26px;
	}
}

@media screen and (min-width: 1920px) {
	.directions__background-image {
		width: 100%;
	}
}
