.footer {
	background-color: #16274a;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 15px 25px 15px;
}

.footer__container {
	width: 100%;
	max-width: 1350px;
	display: flex;
	padding: 0 0 50px 0;
	justify-content: space-between;
}

.footer__container:last-of-type {
	border-top: solid 1px #ffffff;
	padding: 25px 0 25px 0;
}

.footer__column {
	max-width: 205px;
	display: flex;
	flex-direction: column;
}

.footer__column:last-of-type {
	align-items: flex-end;
}

.footer__section {
	display: flex;
	flex-direction: column;
}

.footer__section:last-of-type {
	margin-top: 20px;
}

.footer a:hover {
	opacity: 0.7;
}

.footer__logo {
	width: 172px;
	height: 70px;
	object-fit: contain;
}

.footer__title {
	font-weight: 700;
	font-size: 18px;
	line-height: 150%;
	color: #ffffff;
	margin-top: 8px;
	transition: all 0.4s ease;
}

.footer__title:first-of-type {
	margin: 0;
}

.footer__link {
	margin-top: 6px;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: #ffffff;
	transition: all 0.4s ease;
}

.footer__phone {
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #ffffff;
	text-decoration: none;
}

.footer__adress {
	margin-top: 12px;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: #ffffff;
	text-align: right;
}

.footer__social {
	display: flex;
	margin-top: 12px;
	gap: 8px;
}

.footer__social-icon {
	display: block;
	width: 30px;
	height: 30px;
	background-color: #ffffff;
	border-radius: 15px;
	object-fit: none;
}

@media screen and (max-width: 1100px) {
	.footer {
		padding-bottom: 0px;
	}

	.footer__container {
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding-bottom: 30px;
	}

	.footer__container:last-of-type {
		padding-bottom: 60px;
	}

	.footer__column {
		margin-top: 30px;
		max-width: 330px;
	}

	.footer__column:last-of-type {
		align-items: center;
	}

	.footer__title {
		margin-top: 16px;
	}

	.footer__adress {
		max-width: 210px;
		text-align: center;
	}
}

