.form form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	border: solid 1px #16274A;
	padding: 30px;
	margin: 25px 0 40px 0;
}

.form div {
	display: flex;
	align-items: center;
}

.form__field {
	display: flex;
	flex-direction: column;
	align-items: flex-start !important;
	margin-bottom: 20px;
	width: 100%;
}

.form__error {
	color: red !important;
	text-align: left;
	font-size: 14px;
	display: block;
	display: none;
	width: 100%;
	margin-top: 10px;
}

.form label {
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	margin-bottom: 10px;
	color: #16274a;
}

.form label:last-of-type {
	font-size: 14px;
	margin-bottom: 20px;
}

.form input {
	padding: 0 16px;
	height: 60px;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	border: solid 1px #888888;
	outline: none;
	width: 100%;
}

.form textarea {
	padding: 16px 16px;
	height: 160px;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	border: solid 1px #888888;
	outline: none;
	width: 100%;
}

.form span {
	font-size: 14px;
	color: #888888;
}

.form a {
	color: #16274a;
	transition: all 0.2s ease-in-out;
}

form a:hover {
	opacity: 0.7;
}

.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
		display: flex;
	}

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    min-width: 20px;
    height: 20px;
    background: white;
		border: solid 1px #BBBBBB;
  }

  // Box checked
  &:checked + label:before {
    border: solid 1px #FFBF00;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: url(@icons/checkbox.svg);
    position: absolute;
		left: 4px;
		top: 3px;
    width: 2px;
    height: 2px;
  }
}

.form select {
  border: solid 1px #888888;
	height: 60px;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
  margin-bottom: 20px;
  outline: 0;
  padding: 0 16px;
  background-color: #FFFFFF;
  color: #8a97a0;
}

.form select:last-of-type {
	margin: 0;
}

.form option {
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
}

.form button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 370px;
	height: 54px;
	background-color: #FFD130;
	clip-path: polygon(6% 0, 100% 0, 100% 60%, 94% 100%, 0 100%, 0 40%);
	color: #36260E !important;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	border: none;
	margin-top: 20px;
	transition: all 0.4s ease-in-out;
}

.form button:hover {
	background-color: #FFF6D6;
}

.form input:hover {
	color: #6382C2;
	border: solid 1px #16274A;
}

.form select:hover {
	color: #6382C2;
	border: solid 1px #16274A;
}

.form textarea:hover {
	color: #6382C2;
	border: solid 1px #16274A;
}

.form input:focus {
	color: #6382C2;
	border: solid 1px #16274A;
}

.form textarea:focus {
	color: #6382C2;
	border: solid 1px #16274A;
}

.form select:focus {
	color: #6382C2;
	border: solid 1px #16274A;
}

.form input:invalid:not(:placeholder-shown):not(:focus) {
	border: solid 1px #C10000;
}

.form input:valid:not(:placeholder-shown) {
	border: solid 1px #00C113;
}

.form input:invalid:not(:placeholder-shown) + .form__error {
	display: block;
}

.form select:valid:not(:placeholder-shown) {
	border: solid 1px #00C113;
}

@media screen and (max-width: 991px) {
	.form {
		margin-top: 40px;
	}
}

@media screen and (max-width: 590px) {
	.form form {
		padding: 20px 20px;
		margin: 15px 0 30px 0;
	}

	.form input {
		height: 53px;
		font-size: 14px;
	}

	.form label {
		font-size: 14px;
	}

	.form select {
		font-size: 14px;
	}

	.form select:last-of-type {
		margin-bottom: 20px;
	}

	.form option {
		font-size: 14px;
	}

	.form a {
		font-size: 14px;
	}

	.input-file-container {
		flex-direction: column;
		align-items: flex-start !important;

		.file-button {
			top: 30%;
		}

		img {
			top: 20%;
		}

		.file-name {
			position: unset;
		}
	}
}


.input-file-container{
  max-width: 400px;
  width: 100%;
  margin: 0;
  position: relative;

  input[type="file"]{
    display: block;
    width: 100%;
    padding: 0.75rem;
    opacity: 0;
    position: relative !important;
    z-index: 2;
    cursor: pointer;
  }

  .file-button {
		font-size: 14px;
		line-height: 150%;
    color: #16274A;
    border-bottom: solid 1px #16274A;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }

	.file-button:hover {
		opacity: 0.7;
	}

	img {
		margin-right: 10px;
		position: absolute;
		top: 40%;
		left: 0;
	}

  .file-name{
		font-size: 14px;
		line-height: 150%;
    color: #16274A;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 200px;
    position: absolute;
    left: 160px;
    top: 48%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
}
