.form form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	border: solid 1px #16274A;
	padding: 30px;
	margin: 25px 0 40px 0;
}

.form div {
	display: flex;
	align-items: center;
}

.form__field {
	display: flex;
	flex-direction: column;
	align-items: flex-start !important;
	margin-bottom: 20px;
	width: 100%;
}

.form__error {
	color: red !important;
	text-align: left;
	font-size: 14px;
	display: block;
	display: none;
	width: 100%;
	margin-top: 10px;
}

.form label {
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	margin-bottom: 10px;
	color: #16274a;
}

.form input {
	padding: 0 16px;
	height: 60px;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	border: solid 1px #888888;
	outline: none;
	width: 100%;
}

.form textarea {
	padding: 16px 16px;
	min-height: 160px;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	border: solid 1px #888888;
	outline: none;
	min-width: 100%;
	max-width: 777px;
}

.form span {
	font-size: 14px;
	color: #888888;
}

.form a {
	color: #16274a;
	transition: all 0.2s ease-in-out;
}

form a:hover {
	opacity: 0.7;
}

.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0;
	max-width: 190px;

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
		display: flex;
	}

  // Box.
  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    min-width: 20px;
    height: 20px;
    background: white;
		border: solid 1px #BBBBBB;
  }

  // Box checked
  &:checked + label:before {
    border: solid 1px #FFBF00;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: url(@icons/checkbox.svg);
    position: absolute;
	  left: 4px;
	  top: 0;
    width: 14px;
    height: 14px;
  }
}

.form button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 370px;
	height: 54px;
	background-color: #FFD130;
	clip-path: polygon(6% 0, 100% 0, 100% 60%, 94% 100%, 0 100%, 0 40%);
	color: #36260E !important;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	border: none;
	margin-top: 20px;
	transition: all 0.4s ease-in-out;
}

.form button:hover {
	background-color: #FFF6D6;
}

.form input:hover {
	color: #6382C2;
	border: solid 1px #16274A;
}

.form textarea:hover {
	color: #6382C2;
	border: solid 1px #16274A;
}

.form input:focus {
	color: #6382C2;
	border: solid 1px #16274A;
}

.form textarea:focus {
	color: #6382C2;
	border: solid 1px #16274A;
}

.form select:focus {
	color: #6382C2;
	border: solid 1px #16274A;
}

.form input:invalid:not(:placeholder-shown):not(:focus) {
	border: solid 1px #C10000;
}

.form input:valid:not(:placeholder-shown) {
	border: solid 1px #00C113;
}

.form input:invalid:not(:placeholder-shown) + .form__error {
	display: block;
}

.form select:valid:not(:placeholder-shown) {
	border: solid 1px #00C113;
}

@media screen and (max-width: 991px) {
	.form {
		margin-top: 40px;
	}
}

@media screen and (max-width: 590px) {
	.form form {
		padding: 20px 20px;
		margin: 15px 0 30px 0;
	}

	.form input {
		height: 53px;
		font-size: 14px;
	}

	.form label {
		font-size: 14px;
	}

	.form select:last-of-type {
		margin-bottom: 20px;
	}

	.form option {
		font-size: 14px;
	}

	.form a {
		font-size: 14px;
	}

	.form textarea {
		font-size: 14px;
	}

	.dropdown__button {
		height: 53px;
		font-size: 14px;
	}

	.dropdown__list {
		top: 53px;
	}

	.dropdown__list-item {
		font-size: 14px;
	}

	.input-file-container {
		flex-direction: column;
		align-items: flex-start !important;

		.file-button {
			top: 30%;
		}

		img {
			top: 20%;
		}

		.file-name {
			position: unset;
		}

		.file-icon {
			margin-left: 0;
		}

		.loaded-file {
			margin: 0 0 23px 0;
		}
	}

	.styled-checkbox:checked + label::after {
		top: 3px;
	}

}


.input-file-container{
  max-width: 786px;
  width: 100%;
  margin: 0;
  position: relative;

  input[type="file"] {
    display: block;
    width: 160px;
    opacity: 0;
    position: relative !important;
    z-index: 2;
		padding: 0;
  }

	input[type="file"]:hover {
		cursor: pointer;
	}

  .file-button {
		font-size: 14px;
		line-height: 150%;
    color: #16274A;
    border-bottom: solid 1px #16274A;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }

	.file-button:hover {
		opacity: 0.7;
		cursor: pointer;
	}

	img {
		margin-right: 10px;
		position: absolute;
		top: 40%;
		left: 0;
	}

  .file-name{
		font-size: 14px;
		line-height: 150%;
    color: #16274A;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

	.delete-button:hover {
		cursor: pointer;
	}

	.file-icon {
		position:unset;
		margin: 0 10px 0 22px;
	}

	.delete-button {
		position:unset;
		margin-left: 10px;
	}
}

.dropdown {
  width: 100%;
  position: relative;
  &__button {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 150%;
    color: #888888;
    width: 100%;
		height: 60px;
    text-align: left;
    border: solid 1px #888888;
    padding: 0 16px;
    cursor: pointer;
		&:hover:not(.dropdown__button_valid) {
			color: #6382c2;
			border: solid 1px #16274a;
		}
		&::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      width: 20px;
      height: 15px;
      background: url(@icons/dropdown.svg) 100% 100%;
			background-repeat: no-repeat;
      pointer-events: none;
      transition: 200ms ease;
    }
    &_active{
      &::after{
        transform: translateY(-50%) rotate(-180deg);
      }
    }
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: absolute;
    left: 0;
    top: 60px;
    box-shadow: 0px 10px 20px 0px #88919d4d;
		border-left: solid 1px #888888;
		border-right: solid 1px #888888;
    background: #ffffff;
    overflow: hidden;
    width: 100%;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: 200ms ease;
    &_visible{
      opacity: 1;
      visibility: visible;
    }
    &-item {
      margin: 0;
      padding: 0;
      padding: 15px;
      cursor: pointer;
      font-size: 18px;
      line-height: 150%;
      color: #16274A;
			border-bottom: solid 1px #888888;
      transition: 200ms ease;
      &_active {
        background: #f5f8fa;
      }
      &:hover {
        background: #6382C2;
				color: #FFFFFF;
      }
    }
  }
  &__input{
    &_hidden{
      display: none;
    }
  }
}

.dropdown__button_valid {
	border: solid 1px #00C113;
}
