.header {
	height: 120px;
	display: flex;
	justify-content: center;
}

.header_white a {
	color: #ffffff;
}

.header__wrapper {
	width: 1350px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	width: 136px;
	height: 70px;
	margin-right: 20px;
}

.header__menu {
	display: flex;
	gap: 50px;
	width: 100%;
	max-width: 1100px;
	justify-content: space-between;
	align-items: center;
}

.header__nav-link {
	display: block;
	align-items: center;
	position: relative;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #16274a;
	text-align: center;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
}

.header__nav-link:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0px;
	height: 3px;
	margin-top: 13px;
	background-color: #ffe06e;
	content: "";
	transition: width 0.3s ease-out;
}

.header__nav-link:hover:after {
	width: 70%;
}

.header__nav-link_active {
	font-weight: 700;
	font-size: 20px;
	line-height: 120%;
}

.header__nav-link_active:after {
	display: block;
	position: absolute;
	left: 0;
	width: 70%;
	height: 3px;
	margin-top: 13px;
	background-color: #ffe06e;
	content: "";
}

.header__button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 237px;
	height: 54px;
	background-color: #ffd130;
	clip-path: polygon(6% 0, 100% 0, 100% 60%, 94% 100%, 0 100%, 0 40%);
	color: #36260e !important;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	border: none;
	transition: all 0.4s ease-in-out;
}

.header__button:hover {
	background-color: #fff6d6;
}

.header__phone {
	width: 150px;
	height: 21px;
	margin: 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: #16274a;
	display: none;
}

.header__burger-button {
	width: 42px;
	height: 42px;
	background-image: url(@icons/burger-blue.svg);
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
	border: none;
	grid-area: burger;
	margin-left: -25px;
	display: none;
}

.header__burger-button_white {
	background-image: url(@icons/burger-white.svg);
	width: 42px;
	height: 42px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
	border: none;
	grid-area: burger;
	margin-left: -25px;
	display: none;
}

@media screen and (max-width: 1380px) {
	.header__wrapper {
		padding: 0 10px 0 15px;
	}
}

@media screen and (max-width: 1110px) {
	.header {
		flex-direction: column;
		justify-content: flex-start;
		padding: 20px 0 20px 0;
		height: auto;
	}

	.header_blur {
		backdrop-filter: blur(23.5px);
		position: fixed;
		width: 100vw;
		z-index: 4;
	}

	.header__wrapper {
		width: 100%;
		display: grid;
		grid-template-columns: 1em 1em 1em;
		grid-template-rows: 40px 0;
		grid-template-areas:
			"logo phone burger"
			"menu menu menu";
	}

	.header__wrapper_active {
		grid-template-rows: 40px 100vh;
	}

	.header__logo {
		width: 86px;
		height: 44px;
		grid-area: logo;
		margin: 0;
	}

	.header__menu {
		grid-area: menu;
		align-self: start;
		flex-direction: column;
		align-items: end;
		justify-content: center;
		padding-top: 45px;
		padding-right: 8px;
		gap: 25px;
		display: none;
	}

	.header__menu_active {
		display: flex;
	}

	.header__button {
		width: 330px;
		margin-top: 15px;
	}

	.header__phone {
		display: block;
		grid-area: phone;
		margin-left: -30px;

		font-size: 13px;
	}

	.header__phone_white {
		display: block;
		grid-area: phone;
	}

	.header__burger-button {
		display: block;
	}

	.header__burger-button_active {
		background-image: url(@icons/close-blue.svg);
	}

	.header__burger-button_white_active {
		background-image: url(@icons/close-white.svg);
	}

	.header__nav-link {
		font-size: 22px;
	}
}

@media screen and (max-width: 575px) {
	.header__menu {
		align-items: flex-start;
		padding-right: 0;
	}
}

