.header {
	max-width: 1920px;
	height: 120px;
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

.header__wrapper {
	width: 1350px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px 0 15px;
}

.header__logo {
	width: 136px;
	height: 70px;
	margin-right: 38px;
}

.header__menu {
	display: flex;
	gap: 55px;
	width: 100%;
	max-width: 1100px;
	justify-content: space-between;
	align-items: center;
}

.header__nav-link {
	display: block;
	align-items: center;
	position: relative;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
}

.header__nav-link:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0px;
	height: 3px;
	margin-top: 13px;
	background-color: #FFE06E;
	content: "";
	transition: width 0.3s ease-out;
}

.header__nav-link:hover:after {
	width: 70%;
}

.header__button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 237px;
	height: 54px;
	background-image: url('../../../files/icons/header-button.svg');
	background-color: transparent;
	color: #36260E;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	border: none;
  transition: 0.5s ease;
}

.header__phone {
	width: 150px;
	height: 21px;
	margin: 0;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: #FFFFFF;
	display: none;
}

.header__burger-button {
	width: 42px;
	height: 42px;
	background-image: url('../../../files/icons/burger.svg');
	background-color: transparent;
	border: none;
	display: none;
}

@media screen and (max-width: 1110px) {
	.header {
	  flex-direction: column;
		justify-content: flex-start;
		padding: 20px 0 0 0;
		height: auto;
	}

	.header_blur {
		backdrop-filter: blur(23.5px);
		position: fixed;
		width: 100vw;
		z-index: 2;
	}

	.header__wrapper {
		width: 100%;
		display: grid;
		grid-template-columns: 1em 1em 1em;
		grid-template-rows: 40px 0;
		grid-template-areas:
			"logo phone burger"
			"menu menu menu";
	}

	.header__wrapper_active {
		grid-template-rows: 40px 100vh;
	}

	.header__logo {
		width: 86px;
		height: 44px;
		grid-area: logo;
		margin: 0;
	}

	.header__menu {
		grid-area: menu;
		align-self: start;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding-top: 25px;
		gap: 25px;
		display: none;
	}

	.header__menu_active {
		display: flex;
	}

	.header__button {
		width: 330px;
		background-image: url('../../../files/icons/header-button-mobile.svg');
	}

	.header__phone {
		display: block;
		grid-area: phone;
	}

	.header__burger-button {
		display: block;
		grid-area: burger;
		margin-left: -25px;
	}

	.header__burger-button_active {
		background-image: url('../../../files/icons/close.svg');
	}
}

