.head-title {
	max-width: 1920px;
	height: 806px;
	display: flex;
	justify-content: center;
}

.head-title__wrapper {
	width: 1350px;
	height: 240px;
	margin: 185px 15px 0 15px;
}

.head-title__text {
	margin: 0 0 20px 0;
	font-weight: 700;
	font-size: 72px;
	line-height: 120%;
	color: #FFFFFF;
}

.head-title__subtitle {
	display: inline-block;
	margin: 0;
	font-weight: 400;
	font-size: 32px;
	line-height: 150%;
	color: #FFFFFF;
}

@media screen and (max-width: 1110px) {
	.head-title__wrapper {
		margin-top: 80px;
	}

	.head-title {
		height: 846px;
	}

	.head-title__text {
		font-size: 50px;
	}

	.head-title__subtitle {
		font-size: 26px;
	}
}

@media screen and (max-width: 800px) {
	.head-title {
		height: 683px;
	}

	.head-title__wrapper {
		margin: 60px 15px 0 15px;
	}

	.head-title__wrapper {
		height: 155px;
	}

	.head-title__text {
		font-size: 24px;
	}

	.head-title__subtitle {
		font-size: 22px;
	}
}
