.main-directions__wrapper {
	width: 1350px;
	margin: 0 auto;
	padding: 80px 0;
}

.main-directions h2 {
	font-weight: 700;
	font-size: 54px;
	line-height: 120%;
	color: #16274A;
	margin-bottom: 60px;
}

.main-directions h3 {
	font-weight: 700;
	font-size: 42px;
	line-height: 100%;
	color: #FFFFFF;
}

.main-directions__container {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.main-directions__container div:first-of-type {
	display: grid;
	grid-template-columns: 40% 57%;
	gap: 30px;
}

.main-directions__container div:last-of-type {
	display: grid;
	grid-template-columns: 57% 40%;
	gap: 30px;
}

.main-directions__item {
	display: block;
	height: 30vw;
	max-height: 406px;
	padding: 34px;
	background-repeat: no-repeat;
	background-size: 135%;
	background-position: center;
	transition: all 0.4s ease;
}

.main-directions__item:hover {
	filter: brightness(120%);
}

@media screen and (max-width: 1380px) {
	.main-directions__wrapper {
		width: 100%;
		padding: 40px 15px 60px 15px;
	}
}

@media screen and (max-width: 1140px) {
	.main-directions h3 {
		font-size: 30px;
	}
}

@media screen and (max-width: 991px) {
	.main-directions__container {
		gap: 10px;
	}

	.main-directions h2 {
		font-size: 30px;
		margin-bottom: 20px;
	}

	.main-directions__container div:first-of-type {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.main-directions__container div:last-of-type {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.main-directions__item {
		height: 30vw;
		min-height: 131px;
		padding: 20px;
	}

	.main-directions__item:last-of-type {
		background-position: top;
	}
}

@media screen and (max-width: 500px) {
	.main-directions h3 {
		font-size: 26px;
	}
}
