.map__wrapper {
	width: 100%;
	max-width: 840px;
}

.map__container {
	position: relative;
	width: 840px;
}

.map__map-image {
	width: 100%;
}

.map__location {
	width: 260px;
	height: 280px;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 22px;
}

.map__map-card {
	position: absolute;
	background-color: #FFFFFF;
	width: 260px;
	height: fit-content;
	box-shadow: 0px 0px 10px rgba(71, 71, 71, 0.25);
	padding: 20px;
	display: none;
	flex-direction: column;
	justify-content: center;
	z-index: 1;
}

.map__map-card_active {
	display: flex;
}

.map__text {
	font-weight: 700;
	font-size: 14px;
	line-height: 120%;
	color: #1C1C1C;
	margin-bottom: 4px;
}

.map__text:last-of-type {
	margin-bottom: 0;
}

.map__text:nth-child(2) {
	margin-bottom: 16px;
}

.map__text_thin {
	font-weight: 400;
	line-height: 150%;
}

.map__button {
	margin: 30px auto 0 auto;
	width: 180px;
	height: 45px;
	background-color: transparent;
	border: none;
	background-color: #FFD130;
	clip-path: polygon(6% 0, 100% 0, 100% 60%, 94% 100%, 0 100%, 0 40%);
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #36260E;
	display: flex;
	align-items: center;
	justify-content: center;
}

.map__map-mark {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	background-image: url('../../../files/icons/tracer.svg');
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}

@media screen and (max-width: 1350px) {
	.map__wrapper {
		overflow: scroll;
	}

	.map__map-card {
		position: fixed;
		top: 50% !important;
		left: 50% !important;
		transform: translate(-50%, -50%);
		width: 330px;
		z-index: 10;
	}

	.map__button {
		width: 100%;
	}
}

#mark-1 {
	top: 48%;
	left: 5.5%;
}

#mark-2 {
	top: 34%;
	left: 17%;
}

#mark-3 {
	top: 44%;
	left: 20%;
}

#mark-4 {
	top: 57%;
	left: 25%;
}

#mark-5 {
	top: 49%;
	left: 28%;
}

#mark-6 {
	top: 52%;
	left: 31%;
}

#mark-7 {
	top: 49%;
	left: 36%;
}

#mark-8 {
	top: 63%;
	left: 36%;
}

#mark-9 {
	top: 66%;
	left: 40%;
}

#mark-10 {
	top: 35%;
	left: 41%;
}

#mark-11 {
	top: 46%;
	left: 43%;
}

#mark-12 {
	top: 60%;
	left: 43%;
}

#mark-13 {
	top: 72%;
	left: 62%;
}


#card-1 {
	top: 17%;
	left: 0.5%;
}

#card-2 {
	top: 3%;
	left: 8%;
}

#card-3 {
  top: 13%;
  left: 11%;
}

#card-4 {
	top: 26%;
	left: 16%;
}

#card-5 {
	top: 18%;
	left: 19%;
}

#card-6 {
	top: 21%;
	left: 22%;
}

#card-7 {
	top: 18%;
	left: 27%;
}

#card-8 {
	top: 32%;
	left: 28%;
}

#card-9 {
	top: 35%;
	left: 31%;
}

#card-10 {
  top: 4%;
  left: 32%;
}

#card-11 {
	top: 15%;
	left: 34%;
}

#card-12 {
	top: 29%;
	left: 35%;
}

#card-13 {
	top: 41%;
	left: 53%;
}
