.map__wrapper {
	width: 100%;
	max-width: 840px;
}

.map__container {
	position: relative;
	width: 840px;
}

.map__map-image {
	width: 100%;
}

.map__location {
	width: 260px;
	height: 280px;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 22px;
}

.map__map-card {
	position: absolute;
	background-color: #FFFFFF;
	width: 260px;
	height: fit-content;
	box-shadow: 0px 0px 10px rgba(71, 71, 71, 0.25);
	padding: 20px;
	display: none;
	flex-direction: column;
	justify-content: center;
	z-index: 1;
	top: -240px;
	left: -115px;
}

.map__map-card_active {
	display: flex;
}

.map__map-card span {
	font-weight: 400;
	font-size: 14px;
	line-height: 120%;
	color: #1C1C1C;
	margin-bottom: 4px;
}

.map__map-card span:nth-child(2n) {
	font-weight: 700;
	margin-bottom: 16px;
}

.map__button {
	margin: 14px auto 0 auto;
	width: 180px;
	height: 45px;
	background-color: transparent;
	border: none;
	background-color: #FFD130;
	clip-path: polygon(6% 0, 100% 0, 100% 60%, 94% 100%, 0 100%, 0 40%);
	font-weight: 400;
	font-size: 16px;
	line-height: 16px;
	color: #36260E;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.4s ease-in-out;
}

.map__button:hover {
	background-color: #FFF6D6;
}

.map__map-mark {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	background-image: url(@icons/tracer.svg);
	background-repeat: no-repeat;
	background-size: contain;
	cursor: pointer;
}

@media screen and (max-width: 1350px) {
	.map__wrapper {
		overflow: scroll;
	}

	.map__map-card {
		position: fixed;
		top: 50% !important;
		left: 50% !important;
		transform: translate(-50%, -50%);
		width: 330px;
		z-index: 10;
	}

	.map__map-card span:nth-child(2n) {
		margin-bottom: 10px;
	}

	.map__button {
		width: 100%;
		margin-top: 10px;
	}
}
