.news-slider {
	max-width: 1350px;
	margin: 0 auto 0 auto;
}

.news__header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.news__title {
	font-weight: 700;
	font-size: 54px;
	line-height: 120%;
	color: #16274A;
}

.news__button {
	height: 30px;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #16274A;
	background: transparent;
	border: none;
	border-bottom: solid 2px #16274A;
}

.news-slider {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.news__swiper {
	display: flex;
	width: 100%;
	margin: 60px 0 30px 0;
}

.news__card {
	display: block;
	max-width: 315px;
	text-decoration: none;
	cursor: pointer;
}

.news__card img {
	width: 100%;
	max-width: 330px;
	max-height: 210px;
}

.news__card span {
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #888888;
	margin-top: 20px;
}

.news__card p{
	display: block;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #1C1C1C;
	margin-top: 8px;
	width: 100%;
}

@media screen and (min-width: 1350px) {
	.news .swiper-pagination {
		display: none;
	}
}

@media screen and (max-width: 1350px) {
	.news-slider {
		padding: 0 15px 0 15px;
	}

	.news__swiper {
		margin-top: 40px;
	}
}

@media screen and (max-width: 800px) {
	.news__title {
		font-size: 30px;
	}

	.news__button {
		font-size: 14px;
	}

	.news__card span {
		font-size: 14px;
	}

	.news__card p {
		font-size: 14px;
	}
}

