.numbers {
	max-width: 1920px;
	display: flex;
	justify-content: center;
	position: relative;
}

.numbers__container {
	margin: 0 15px 0 15px;
	padding: 0;
	width: 1350px;
	height: fit-content;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: absolute;
	bottom: -130px;
}

.numbers__items-container {
	min-width: 540px;
	width: 50%;
	height: 267px;
	display: flex;
	background-color: #16274A;
	z-index: 3;
}

.numbers__items-container:first-of-type {
	clip-path: polygon(10% 0, 80% 0%, 100% 0, 100% 80%, 100% 100%, 0 100%, 0% 80%, 0 24%);
}

.numbers__item {
	width: 50%;
	height: 267px;
	display: flex;
	flex-direction: column;
	position: relative;
}

.numbers__item-background {
	width: 203px;
	position: absolute;
	top: 18%;
	right: 20%;
	z-index: 0;
	opacity: 0.1;
}

.numbers__item-title {
	font-weight: 700;
	font-size: 54px;
	line-height: 120%;
	color: #FFFFFF;
	text-align: center;
	margin-top: 60px;
}

.numbers__item-subtitle {
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
	color: #FFFFFF;
	text-align: center;
	margin: 20px 0 6px 0;
}

.numbers__item-description {
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #FFFFFF;
	text-align: center;
}

@media screen and (max-width: 1380px) {
	.numbers__container {
		width: 100%;
		padding: 0 15px 0 15px;
	}
}

@media screen and (max-width: 1110px) {
	.numbers__container {
		bottom: 40px;
	}
}

@media screen and (max-width: 1200px) {

	.numbers__item-title {
		font-size: 40px;
	}

	.numbers__item-subtitle {
		font-size: 20px;
	}

	.numbers__item-description {
		font-size: 18px;
	}

	.numbers__item-background {
		top: 11%;
		right: 11%;
	}
}

@media screen and (max-width: 800px) {
	.numbers__container {
		bottom: 100px;
	}

  .numbers__items-container {
		height: 172px;
		min-width: 330px;
		width: 51%;
	}

	.numbers__item-title {
		margin-top: 30px;
		font-size: 34px;
	}

	.numbers__item-subtitle {
		font-size: 16px;
	}

	.numbers__item-description {
		font-size: 14px;
	}

	.numbers__item-background {
		top: 11%;
		right: 11%;
	}

	.numbers__item-background {
		top: 10%;
		right: 7%;
		width: 133px;
	}
}
