.page-title {
	width: 100%;
  max-width: 1920px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 305px;
	background-size: auto ;
	background-position: right;
	background-repeat: no-repeat;
}

.page-title__wrapper {
	width: 1350px;
	position: relative;
}

.page-title__directory {
	position: absolute;
	top: -70px;
}

.page-title__directory a {
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #8B93A5;

}

.page-title__directory a:last-of-type {
	color: #5C6881;
	cursor: unset;
}

.page-title__directory a:last-of-type:hover {
	opacity: unset;
}

.page-title h1 {
	font-weight: 700;
	font-size: 54px;
	line-height: 120%;
	color: #16274A;
}

@media screen and (max-width: 1380px) {
	.page-title__wrapper {
		width: 100%;
		margin: 0 15px;
	}
}

@media screen and (max-width: 1100px) {
	.page-title {
		height: 156px;
	}

	.page-title__directory {
		top: -40px;
	}

	.page-title__directory a {
		font-size: 14px;
	}

	.page-title h1 {
		font-size: 30px;
	}
}

@media screen and (max-width: 991px) {
	.page-title {
		height: 156px;
		background-size: auto 100%;
		background-position: center;
	}
}

@media screen and (max-width: 500px) {
	.page-title {
		background-position: -418px;
	}
}

@media screen and (min-width: 1920px) {
	.page-title {
		max-width: unset;
		background-size: 100%;
	}
}
