.partner {
	max-width: 1920px;
	background-color: #F8F8F8;
	display: flex;
	flex-direction: column;
	gap: 80px;
	align-items: center;
	padding: 80px 0 120px 0;
}

.partner__wrapper {
	width: 1350px;
	padding: 30px;
	background-color: #FFFFFF;
}

.partner h1 {
	font-weight: 700;
	font-size: 54px;
	line-height: 120%;
	color: #16274A;
}

.partner h2 {
	font-weight: 700;
	font-size: 24px;
	line-height: 120%;
	color: #16274A;
}

.partner form {
	max-width: 840px;
}

@media screen and (max-width: 1350px) {
	.partner {
		padding: 60px 15px 60px 15px;
	}

	.partner__wrapper {
		width: 100%;
	}
}

@media screen and (max-width: 991px) {
	.partner__wrapper {
		padding: 20px 10px;
	}

	.partner h1 {
		font-size: 30px;
	}
}
