.presentation {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: sticky;
	top: 0;
	margin: 0 auto;
	top: 40px;
}

.presentation__header {
	width: 100%;
	height: 98px;
	display: flex;
	background-color: #16274A;
	justify-content: space-between;
	align-items: center;
	padding: 20px 26px;
	color: #FFFFFF;
}

.presentation__header h2 {
	font-weight: 700;
	line-height: 120%;
}

.presentation__button {
	width: 40px;
	height: 40px;
	border: none;
	background: transparent;
	background-image: url(../../files/icons/download.svg);
}

.presentation__list {
	display: flex;
	flex-wrap: wrap;
}

.presentation__list-item {
	width: 315px;
	margin: 0;
	display: flex;
	flex-direction: column;
	gap: 4px;
	justify-content: center;
	align-items: center;
	height: 154px;
	text-align: center;
	padding: 20px 0;
	color: #16274A;
	font-weight: 700;
}

.presentation__list-item h3 {
	height: 60px;
	font-size: 54px;
	font-weight: 700;
}

.presentation__list-item h4 {
	font-size: 20px;
	font-weight: 700;
}

.presentation__list-item h5 {
	max-width: 250px;
	font-weight: 400;
	font-size: 14px;
	color: #888888;
}

.presentation__footer {
	width: 100%;
	height: 149px;
	display: flex;
	flex-direction: column;
	background-color: #16274A;
	justify-content: space-between;
	align-items: left;
	padding: 20px 26px;
	color: #FFFFFF;
}

.presentation__footer h2 {
	font-weight: 700;
	line-height: 180%;
}

.presentation__footer div {
	display: flex;
	align-items: center;
	gap: 10px;
}

.presentation__footer a {
	font-size: 18px;
	color: #FFFFFF;
}

@media screen and (max-width: 991px) {
	.presentation__list-item {
		width: 157.5px;
	}

	.presentation__list-item h3 {
		height: 40px;
		font-size: 34px;
	}

	.presentation__list-item h4 {
		font-size: 16px;
	}

	.presentation__footer a {
		font-weight: 400;
		font-size: 14px;
	}
}
