.project {
	background-color: #F8F8F8;
	max-width: 1920px;
	display: flex;
	justify-content: center;
	padding: 80px 0 120px 0;
}

.project__wrapper {
	width: 1350px;
	background-color: #FFFFFF;
	padding: 40px;
	display: flex;
	justify-content: space-between;
}

.project__content {
	width: 100%;
	max-width: 840px;
}

.project__title {
	font-weight: 700;
	font-size: 32px;
	line-height: 120%;
	color: #16274A;
}

.project__city {
	display: inline-block;
	margin: 20px 0;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #888888;
}

.project__text {
	display: inline-block;
	margin: 0 0 10px 0;
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #16274A;
}

.project__customer {
	display: inline-block;
	margin: 10px 0;
	font-weight: 700;
	font-size: 20px;
	line-height: 120%;
	color: #16274A;
}

.project__adress {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.project__image {
	width: 100%;
	margin-top: 20px;
}

.project__swiper {
	width: 315px;
	margin: 0;
}

.project__swiper-wrapper {
	display: flex;
}

.project__slide {
	width: 100%;
	max-height: 164px;
	height: fit-content;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	background-color: #F8F8F8;
}

.project__slide-date {
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #888888;
}

.project__slide-title {
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #16274A;
}

.project__slide-button {
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #888888;
}

@media screen and (max-width: 1350px) {
	.project__swiper {
		width: 100%;
		padding: 0 15px;
	}

	.project__wrapper {
		width: 100%;
		padding: 60px 0;
		margin: 0 15px;
		flex-direction: column;
		align-items: center;
		gap: 40px;
	}
}

@media screen and (max-width: 870px) {
	.project__content {
		padding: 0 15px;
	}
}

@media screen and (max-width: 360px) {
	.project__title {
		font-size: 21px;
	}

	.project__city {
		font-size: 14px;
	}

	.project__text {
		font-size: 14px;
	}

	.project__customer {
		font-size: 16px;
	}

	.project__pagination {
		margin-top: 0;
	}
}
