.video-background {
	position: absolute;
	width: 100%;
	height: 100%;
	max-width: 1920px;
	max-height: 926px;
	top: 0;
	left: 0;
	z-index: -1;
	overflow: hidden;
}

.video-background::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-image: linear-gradient(180deg, rgba(22, 39, 74, 0.9) 16.25%, rgba(22, 39, 74, 0.81) 26.9%, rgba(22, 39, 74, 0.548437) 35.93%, rgba(22, 39, 74, 0.407812) 49.43%, rgba(22, 39, 74, 0.304687) 57.32%, rgba(22, 39, 74, 0.182812) 65.1%, rgba(22, 39, 74, 0) 77.57%);
}

@media screen and (max-width: 800px) {
	.video-background {
		max-height: 763px;
	}
}
