<section class="numbers">
	<div class="numbers__container">
			<div class="numbers__item">
				<img class="numbers__item-background" src="@icons/peoples.svg">
				<span class="numbers__item-title">>300</span>
				<span class="numbers__item-subtitle">Человек</span>
				<span class="numbers__item-description">Численность сотрудников</span>
			</div>
			<div class="numbers__item">
				<img class="numbers__item-background" src="@icons/coins.svg">
				<span class="numbers__item-title">>840</span>
				<span class="numbers__item-subtitle">Млн.руб/год</span>
				<span class="numbers__item-description">Среднегодовой оборот<br>за последние 3 года</span>
			</div>
			<div class="numbers__item">
				<img class="numbers__item-background" src="@icons/document.svg">
				<span class="numbers__item-title">>430</span>
				<span class="numbers__item-subtitle">Положительных<br>заключений</span>
				<span class="numbers__item-description">экспертиз</span>
			</div>
			<div class="numbers__item">
				<img class="numbers__item-background" src="@icons/pipes.svg">
				<span class="numbers__item-title">>4000</span>
				<span class="numbers__item-subtitle">Киллометров</span>
				<span class="numbers__item-description">промысловых и<br>нефтегазопроводов</span>
			</div>
	</div>
</section>
