<section class="main-directions">
	<div class="main-directions__wrapper">
		<h2>Основные направления</h2>
		<div class="main-directions__container">
			<div>
				<a class="main-directions__item" style="background-image: linear-gradient(0deg, rgba(22, 39, 74, 0.4), rgba(22, 39, 74, 0.4)), url(@images/direction-background-1.png);">
					<h3>Изыскания</h3>
				</a>
				<a class="main-directions__item"  style="background-image: linear-gradient(0deg, rgba(22, 39, 74, 0.4), rgba(22, 39, 74, 0.4)), url(@images/direction-background-2.png);">
					<h3>Проектирование</h3>
				</a>
			</div>
			<div>
				<a class="main-directions__item"  style="background-image: linear-gradient(0deg, rgba(22, 39, 74, 0.4), rgba(22, 39, 74, 0.4)), url(@images/direction-background-3.png);">
					<h3>Авторский надзор</h3>
				</a>
				<a class="main-directions__item"  style="background-image: linear-gradient(0deg, rgba(22, 39, 74, 0.4), rgba(22, 39, 74, 0.4)), url(@images/direction-background-4.png);">
					<h3>Землеустройство</h3>
				</a>
			</div>
		</div>
	</div>
</section>
