<div class="news-slider">
	<div class="news__header">
		<h3 class="news__title">Новости</h3>
		<a href="/news.html" class="news__button">Все новости</a>
	</div>
	<div class="news__swiper swiper">
		<div class="swiper-wrapper">
			<a href="#" class="news__card swiper-slide">
				<img src="@images/news-image-1.png">
				<span>22 декабря 2022</span>
				<p>Общественные обсуждения проектной документации по объекту «Обустройство кусовой площадки 3 метельного месторождения...</p>
			</a>
			<a href="#" class="news__card swiper-slide">
				<img src="@images/news-image-2.png">
				<span>22 декабря 2022</span>
				<p>Общественные обсуждения проектной документации по объекту «Обустройство кусовой площадки 3 метельного месторождения...</p>
			</a>
			<a href="#" class="news__card swiper-slide">
				<img src="@images/news-image-3.png">
				<span>22 декабря 2022</span>
				<p>Общественные обсуждения проектной документации по объекту «Обустройство кусовой площадки 3 метельного месторождения...</p>
			</a>
			<a href="#" class="news__card swiper-slide">
				<img src="@images/news-image-4.png">
				<span>22 декабря 2022</span>
				<p>Общественные обсуждения проектной документации по объекту «Обустройство кусовой площадки 3 метельного месторождения...</p>
			</a>
			<a href="#" class="news__card swiper-slide">
				<img src="@images/news-image-1.png">
				<span>22 декабря 2022</span>
				<p>Общественные обсуждения проектной документации по объекту «Обустройство кусовой площадки 3 метельного месторождения...</p>
			</a>
			<a href="#" class="news__card swiper-slide">
				<img src="@images/news-image-2.png">
				<span>22 декабря 2022</span>
				<p>Общественные обсуждения проектной документации по объекту «Обустройство кусовой площадки 3 метельного месторождения...</p>
			</a>
			<a href="#" class="news__card swiper-slide">
				<img src="@images/news-image-3.png">
				<span>22 декабря 2022</span>
				<p>Общественные обсуждения проектной документации по объекту «Обустройство кусовой площадки 3 метельного месторождения...</p>
			</a>
			<a href="#" class="news__card swiper-slide">
				<img src="@images/news-image-4.png">
				<span>22 декабря 2022</span>
				<p>Общественные обсуждения проектной документации по объекту «Обустройство кусовой площадки 3 метельного месторождения...</p>
			</a>
		</div>
	</div>
	<div class="swiper-pagination"></div>
</div>
