<section class="news-slider">
	<div class="news-slider__header">
		<h3 class="news-slider__title">Новости</h3>
		<button href="/news.html" class="news-slider__button">Все новости</button>
	</div>
	<div class="news-slider__wrapper">
		<a href="/article.html" class="news-slider__card">
			<img class="news-slider__image" src="@images/news-image-1.png">
			<div class="news-slider__date">22 декабря 2022</div>
			<div class="news-slider__desk">Общественные обсуждения проектной документации по объекту «Обустройство кусовой площадки 3 метельного месторождения...</div>
		</a>
		<a href="/article.html" class="news-slider__card">
			<img class="news-slider__image" src="@images/news-image-2.png">
			<div class="news-slider__date">22 декабря 2022</div>
			<div class="news-slider__desk">Общественные обсуждения проектной документации по объекту «Обустройство кусовой площадки 3 метельного месторождения...</div>
		</a>
		<a href="/article.html" class="news-slider__card">
			<img class="news-slider__image" src="@images/news-image-3.png">
			<div class="news-slider__date">22 декабря 2022</div>
			<div class="news-slider__desk">Общественные обсуждения проектной документации по объекту «Обустройство кусовой площадки 3 метельного месторождения...</div>
		</a>
		<a href="/article.html" class="news-slider__card">
			<img class="news-slider__image" src="@images/news-image-4.png">
			<div class="news-slider__date">22 декабря 2022</div>
			<div class="news-slider__desk">Общественные обсуждения проектной документации по объекту «Обустройство кусовой площадки 3 метельного месторождения...</div>
		</a>
	</div>
</section>
