<section class="directions">
		<div class="directions__container">
			<div class="directions__direction directions__direction_active">
				<img class="directions__background-image directions__background-image_active" src="@images/direction-background-1.png" style="">
				<div class="directions__header">
					<span class="directions__direction-title  directions__direction-title_active">Изыскания</span>
					<button class="directions__direction-button directions__direction-button_active"></button>
				</div>
				<div class="directions__about directions__about_active">
					<span class="directions__about-title">Изыскания</span>
					<div class="directions__about-text">
						ООО «Югранефтегазпроект» Предоставляет комплексные услуги по выполнению инженерных изысканий, включающих в себя:<br />
						- Инженерно-геодезические изыскания;<br />
						- Инженерно-геологические изыскания;<br />
						- Инженерно-гидрометеорологические изыскания;<br />
						- Инженерно-экологические изыскания.
					</div>
					<a class="directions__about-button" href="#">Подробнее</a>
				</div>
			</div>
			<div class="directions__direction">
				<img class="directions__background-image" src="@images/direction-background-2.png">
				<div class="directions__header">
					<span class="directions__direction-title">Землеустройство</span>
					<button class="directions__direction-button"></button>
				</div>
				<div class="directions__about">
					<span class="directions__about-title">Землеустройство</span>
					<div class="directions__about-text">
						- Подготовка и утверждение схем расположения земельных участков;<br />
						- Подготовка и утверждение проекта планировки и межевания территории;<br />
						- Подготовка ГПЗУ;<br />
						- Подготовка материала к отводу земель;<br />
						- Разработка проектов рекультивации нарушенных земель;<br />
						- Подготовка карты (плана) для разработки схем ЗОУИТ;<br />
						- Подготовка сведений по землепользователям для инженерных изысканий.
					</div>
					<a class="directions__about-button" href="#">Подробнее</a>
				</div>
			</div>
			<div class="directions__direction">
				<img class="directions__background-image" src="@images/direction-background-3.png">
				<div class="directions__header">
					<span class="directions__direction-title">Проектирование</span>
					<button class="directions__direction-button"></button>
				</div>
				<div class="directions__about">
					<span class="directions__about-title">Проектирование</span>
					<div class="directions__about-text">
						- 3D проектирование;<br />
						- Концептуальное проектирование;<br />
						- Разработка и обустройство нефтяных и газовых месторождений;<br />
						- Хранение нефти;<br />
						- Энергетика и связь;<br />
						- Объекты общего назначения.
					</div>
					<a class="directions__about-button" href="#">Подробнее</a>
				</div>
			</div>
			<div class="directions__direction">
				<img class="directions__background-image" src="@images/direction-background-4.png">
				<div class="directions__header">
					<span class="directions__direction-title">Авторский надзор</span>
					<button class="directions__direction-button"></button>
				</div>
				<div class="directions__about">
					<span class="directions__about-title">Авторский надзор</span>
					<div class="directions__about-text">
						- Осуществление проектного сопровождения с привлечением группы авторского надзора на территорию исполнителя;<br />
						- Проведение оценки соответствия вносимых изменений в проектную документацию;<br />
						- Оценка возможности замены материалов и оборудования;<br />
						- Соблюдение технологии строительства;<br />
						- Достоверность документации;<br />
						- Достижение проектных значений.
					</div>
					<a class="directions__about-button" href="#">Подробнее</a>
				</div>
			</div>
		</div>
</section>
