<section class="directions">
		<div class="directions__container" id="directions">
			<div class="directions__direction directions__direction_active">
				<div class="directions__header">
					<span class="directions__direction-title  directions__direction-title_active">Изыскания</span>
					<button class="directions__direction-button directions__direction-button_active"></button>
				</div>
				<div class="directions__about directions__about_active">
					<span class="directions__about-title">Изыскания</span>
					<ul class="directions__about-list">
						<li class="directions__about-list-item">- 3D проектирование;</li>
						<li class="directions__about-list-item">- Концептуальное проектирование;</li>
						<li class="directions__about-list-item">- Разработка и обустройство нефтяных и газовых месторождений;</li>
						<li class="directions__about-list-item">- Хранение нефти;</li>
						<li class="directions__about-list-item">- Энергетика и связь;</li>
						<li class="directions__about-list-item">- Объекты общего назначения.</li>
					</ul>
					<button class="directions__about-button">Подробнее</button>
				</div>
			</div>
			<div class="directions__direction">
				<div class="directions__header">
					<span class="directions__direction-title">Землеустройство</span>
					<button class="directions__direction-button"></button>
				</div>
				<div class="directions__about">
					<span class="directions__about-title">Землеустройство</span>
					<ul class="directions__about-list">
						<li class="directions__about-list-item">- 3D проектирование;</li>
						<li class="directions__about-list-item">- Концептуальное проектирование;</li>
						<li class="directions__about-list-item">- Разработка и обустройство нефтяных и газовых месторождений;</li>
						<li class="directions__about-list-item">- Хранение нефти;</li>
						<li class="directions__about-list-item">- Энергетика и связь;</li>
						<li class="directions__about-list-item">- Объекты общего назначения.</li>
					</ul>
					<button class="directions__about-button">Подробнее</button>
				</div>
			</div>
			<div class="directions__direction">
				<div class="directions__header">
					<span class="directions__direction-title">Проектирование</span>
					<button class="directions__direction-button"></button>
				</div>
				<div class="directions__about">
					<span class="directions__about-title">Проектирование</span>
					<ul class="directions__about-list">
						<li class="directions__about-list-item">- 3D проектирование;</li>
						<li class="directions__about-list-item">- Концептуальное проектирование;</li>
						<li class="directions__about-list-item">- Разработка и обустройство нефтяных и газовых месторождений;</li>
						<li class="directions__about-list-item">- Хранение нефти;</li>
						<li class="directions__about-list-item">- Энергетика и связь;</li>
						<li class="directions__about-list-item">- Объекты общего назначения.</li>
					</ul>
					<button class="directions__about-button">Подробнее</button>
				</div>
			</div>
			<div class="directions__direction">
				<div class="directions__header">
					<span class="directions__direction-title">Авторский надзор</span>
					<button class="directions__direction-button"></button>
				</div>
				<div class="directions__about">
					<span class="directions__about-title">Авторский надзор</span>
					<ul class="directions__about-list">
						<li class="directions__about-list-item">- 3D проектирование;</li>
						<li class="directions__about-list-item">- Концептуальное проектирование;</li>
						<li class="directions__about-list-item">- Разработка и обустройство нефтяных и газовых месторождений;</li>
						<li class="directions__about-list-item">- Хранение нефти;</li>
						<li class="directions__about-list-item">- Энергетика и связь;</li>
						<li class="directions__about-list-item">- Объекты общего назначения.</li>
					</ul>
					<button class="directions__about-button">Подробнее</button>
				</div>
			</div>
		</div>
			<!-- <ul class="directions__list">
				<li class="directions__item  directions__item_active">Изыскания</li>
				<li class="directions__item">Землеустройство</li>
				<li class="directions__item">Проектирование</li>
				<li class="directions__item">Авторский надзор</li>
			</ul>
			<div class="directions__about directions__about_active">
				<span class="directions__about-title">Проектирование</span>
				<ul class="directions__about-list">
					<li class="directions__about-list-item">- 3D проектирование;</li>
					<li class="directions__about-list-item">- Концептуальное проектирование;</li>
					<li class="directions__about-list-item">- Разработка и обустройство нефтяных и газовых месторождений;</li>
					<li class="directions__about-list-item">- Хранение нефти;</li>
					<li class="directions__about-list-item">- Энергетика и связь;</li>
					<li class="directions__about-list-item">- Объекты общего назначения.</li>
				</ul>
				<button class="directions__about-button">Подробнее</button>
			</div>
			<div class="directions__about">
				<span class="directions__about-title">Авторский надзор</span>
				<ul class="directions__about-list">
					<li class="directions__about-list-item">- 3D проектирование;</li>
					<li class="directions__about-list-item">- Концептуальное проектирование;</li>
					<li class="directions__about-list-item">- Разработка и обустройство нефтяных и газовых месторождений;</li>
					<li class="directions__about-list-item">- Хранение нефти;</li>
					<li class="directions__about-list-item">- Энергетика и связь;</li>
					<li class="directions__about-list-item">- Объекты общего назначения.</li>
				</ul>
				<button class="directions__about-button">Подробнее</button>
			</div> -->
		</div>
	</div>
</section>
