<section class="geography">
	<h2 class="geography__title">География компании</h2>
	<div class="geography__wrapper">
		<div class="geography__map-wrapper">
			<img class="geography__map" src="@images/map.png">
				<div class="geography__map-card" id="card-1">
					<span class="geography__text geography__text_thin">Город</span>
					<span class="geography__text">Югра</span>
					<span class="geography__text">Заказчики</span>
					<span class="geography__text">ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
					<a class="geography__button" href="/pages/about_project.html">О проекте</a>
				</div>
				<span class="geography__map-mark" id="mark-1"></span>
				<div class="geography__map-card" id="card-2">
					<span class="geography__text geography__text_thin">Город</span>
					<span class="geography__text">Ханты-Мансийск</span>
					<span class="geography__text">Заказчики</span>
					<span class="geography__text">ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
					<button class="geography__button">О проекте</button>
				</div>
				<span class="geography__map-mark" id="mark-2"></span>
				<div class="geography__map-card" id="card-3">
					<span class="geography__text geography__text_thin">Город</span>
					<span class="geography__text">Югра</span>
					<span class="geography__text">Заказчики</span>
					<span class="geography__text">ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
					<button class="geography__button">О проекте</button>
				</div>
				<span class="geography__map-mark" id="mark-3"></span>
				<div class="geography__map-card" id="card-4">
					<span class="geography__text geography__text_thin">Город</span>
					<span class="geography__text">Ханты-Мансийск</span>
					<span class="geography__text">Заказчики</span>
					<span class="geography__text">ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
					<button class="geography__button">О проекте</button>
				</div>
				<span class="geography__map-mark" id="mark-4"></span>
				<div class="geography__map-card" id="card-5">
					<span class="geography__text geography__text_thin">Город</span>
					<span class="geography__text">Югра</span>
					<span class="geography__text">Заказчики</span>
					<span class="geography__text">ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
					<button class="geography__button">О проекте</button>
				</div>
				<span class="geography__map-mark" id="mark-5"></span>
				<div class="geography__map-card" id="card-6">
					<span class="geography__text geography__text_thin">Город</span>
					<span class="geography__text">Ханты-Мансийск</span>
					<span class="geography__text">Заказчики</span>
					<span class="geography__text">ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
					<button class="geography__button">О проекте</button>
				</div>
				<span class="geography__map-mark" id="mark-6"></span>
				<div class="geography__map-card" id="card-7">
					<span class="geography__text geography__text_thin">Город</span>
					<span class="geography__text">Югра</span>
					<span class="geography__text">Заказчики</span>
					<span class="geography__text">ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
					<button class="geography__button">О проекте</button>
				</div>
				<span class="geography__map-mark" id="mark-7"></span>
				<div class="geography__map-card" id="card-8">
					<span class="geography__text geography__text_thin">Город</span>
					<span class="geography__text">Ханты-Мансийск</span>
					<span class="geography__text">Заказчики</span>
					<span class="geography__text">ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
					<button class="geography__button">О проекте</button>
				</div>
				<span class="geography__map-mark" id="mark-8"></span>
				<div class="geography__map-card" id="card-9">
					<span class="geography__text geography__text_thin">Город</span>
					<span class="geography__text">Югра</span>
					<span class="geography__text">Заказчики</span>
					<span class="geography__text">ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
					<button class="geography__button">О проекте</button>
				</div>
				<span class="geography__map-mark" id="mark-9"></span>
				<div class="geography__map-card" id="card-10">
					<span class="geography__text geography__text_thin">Город</span>
					<span class="geography__text">Ханты-Мансийск</span>
					<span class="geography__text">Заказчики</span>
					<span class="geography__text">ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
					<button class="geography__button">О проекте</button>
				</div>
				<span class="geography__map-mark" id="mark-10"></span>
				<div class="geography__map-card" id="card-11">
					<span class="geography__text geography__text_thin">Город</span>
					<span class="geography__text">Югра</span>
					<span class="geography__text">Заказчики</span>
					<span class="geography__text">ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
					<button class="geography__button">О проекте</button>
				</div>
				<span class="geography__map-mark" id="mark-11"></span>
				<div class="geography__map-card" id="card-12">
					<span class="geography__text geography__text_thin">Город</span>
					<span class="geography__text">Ханты-Мансийск</span>
					<span class="geography__text">Заказчики</span>
					<span class="geography__text">ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
					<button class="geography__button">О проекте</button>
				</div>
				<span class="geography__map-mark" id="mark-12"></span>
				<div class="geography__map-card" id="card-13">
					<span class="geography__text geography__text_thin">Город</span>
					<span class="geography__text">Ханты-Мансийск</span>
					<span class="geography__text">Заказчики</span>
					<span class="geography__text">ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
					<button class="geography__button">О проекте</button>
				</div>
				<span class="geography__map-mark" id="mark-13"></span>
		</img>
	</div>
</section>
