.about-company {
	width: 100%;
	max-width: 1920px;
	background-color: #F8F8F8;
	display: flex;
	justify-content: center;
	padding: 80px 0 120px 0;
}

.about-company__wrapper {
	width: 1350px;
	padding: 40px;
	background-color: #FFFFFF;
	display: flex;
	justify-content: space-between;
	gap: 30px;
}

.about-company__text {
	color: #16274A;
	font-weight: 700;
	margin-bottom: 40px;
}

.about-company__text h2 {
	font-weight: 700;
	font-size: 32px;
	line-height: 120%;
	margin-bottom: 20px;
}

.about-company__text h3 {
	font-weight: 700;
	font-size: 32px;
	line-height: 120%;
}

.about-company__text p {
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	margin-bottom: 10px;
}

.about-company__text ul {
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	margin-bottom: 10px;
}

.about-company__text li {
	list-style-type: disc;
	margin-left: 17px;
}

.about-company__content {
	width: 840px;
}

.about-company__right-bar {
	width: 330px;
}

.about-company__accordion-list {
	gap: 24px;
}

.about-company__accordion-list {
	box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
}

.about-company__accordion-list .accordion__item {
	box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
}

.about-company__accordion-list .accordion__content {
	margin-right: unset;
}

.about-company .accordion-icon {
	margin-left: 25px;
}

.about-company__year-accardeon {
	margin-top: 60px;
	box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}

.about-company__year-accardeon .accordion__item_active {
	box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
}

.about-company .map__container {
	width: 100%;
}

@media screen and (max-width: 1350px) {
	.about-company {
		padding: 60px 15px 60px 15px;
	}

	.about-company__text {
		padding: 0 10px;
		margin-bottom: 20px;
	}

	.about-company__content {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (max-width: 991px) {
	.about-company__wrapper {
		width: 100%;
		flex-direction: column;
		align-items: center;
		padding: 20px 0 0 0;
	}

	.about-company__right-bar {
		width: 100%;
	}

	.about-company .accordion-icon {
		margin-left: 10px;
	}

	.about-company__accordion-list {
		gap: 15px;
	}

	.about-company__year-accardeon {
		margin-top: 30px;
	}

	.about-company__content {
		width: 100%;
	}

	.about-company__text {
		padding: 0 10px;
	}

	.about-company__text h2 {
		font-size: 26px;
	}

	.about-company__text h3 {
		font-size: 26px;
	}

	.about-company__text p {
		font-size: 14px;
	}

	.about-company__text ul {
		font-size: 14px;
	}

	.about-company .map__container {
		width: 840px;
	}
}
