.directions-page {
	background-color: unset;

	h1 {
		display: block;
		position: absolute;
		top: -130px;
		left: 0;
		font-weight: 700;
		font-size: 54px;
		line-height: 120%;
		color: #FFFFFF;
	}

	@media screen and (max-width: 1019px) {
		h1 {
			font-size: 30px;
			top: -55px;
		}
		.directions {
			padding-top: 90px;
		}
		.directions__direction-title {
			font-size: 26px;
		}
	}
	.directions {
		.directions__container {
			position: relative;
		}


	}
}
