.privacy-policy {
	max-width: 1920px;
	background-color: #F8F8F8;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 120px 0 120px 0;
}

.privacy-policy__wrapper {
	width: 100%;
	max-width: 1350px;
	background-color: #FFFFFF;
	padding: 30px;
}

.privacy-policy h1 {
	font-weight: 700;
	font-size: 54px;
	line-height: 120%;
	color: #16274A;
	margin-bottom: 60px;
}

.privacy-policy h2 {
	font-weight: 700;
	font-size: 20px;
	line-height: 120%;
	color: #16274A;
	margin-top: 20px;
	margin-bottom: 4px;
}

.privacy-policy p {
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #16274A;
	margin-top: 16px;
}

@media screen and (max-width: 1350px) {
	.privacy-policy {
		padding: 40px 15px 60px 15px;
	}
}

@media screen and (max-width: 700px) {
	.privacy-policy__wrapper {
		padding: 20px 10px;
	}

	.privacy-policy h1 {
		font-size: 26px;
		margin-bottom: 20px;
	}

	.privacy-policy h2 {
		font-size: 16px;
	}

	.privacy-policy p {
		font-size: 14px;
		margin-top: 6px;
	}
}
