.quality {
	max-width: 1920px;
	background-color: #eee;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 80px 0 120px 0;
}

.quality__wrapper {
	width: 1350px;
	padding: 40px;
	background-color: #FFFFFF;
	display: flex;
	justify-content: space-between;
	gap: 30px;
}

.quality__content {
	width: 840px;
	color: #16274A;
}

.quality__text h1 {
	font-weight: 700;
	font-size: 32px;
	line-height: 120%;
	margin-bottom: 20px;
}

.quality__text p {
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	margin-bottom: 10px;
}

.quality__right-bar {
	width: 330px;
}

.quality__swiper {
	width: 315px;
	margin: 0;
	max-height: 1040px;
}

.quality__swiper-wrapper {
	display: flex;
}

.quality__slide {
	width: 280px !important;
	margin: 0 auto;
	height: fit-content;
	min-height: 480px;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.quality__slide span {
	font-weight: 400;
	font-size: 18px;
	line-height: 150%;
	color: #16274A;
}

.quality__slide a {
	font-weight: 700;
	font-size: 14px;
	line-height: 120%;
	display: flex;
	align-items: center;
	color: #16274A;
}

.quality__slide img {
	max-width: 275px;
	max-height: 374px;
}

.quality__swiper-buttons {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.swiper-button-prev-unique {
	width: 50px;
	height: 50px;
	margin-right: 40px;
	background-image: url(@icons/accordion-arrow-blue.svg);
	background-position: center;
}

.swiper-button-next-unique {
	width: 50px;
	height: 50px;
	background-image: url(@icons/accordion-arrow-blue.svg);
	background-position: center;
	transform: rotate(180deg);
}

.swiper-button-prev-unique:hover {
	cursor: pointer;
	background-image: url(@icons/accordion-arrow-hover.svg);
}

.swiper-button-next-unique:hover {
	cursor: pointer;
	background-image: url(@icons/accordion-arrow-hover.svg);
}

@media screen and (max-width: 1350px) {
	.quality {
		width: 100%;
		padding: 60px 15px 0 15px;
		margin-bottom: 60px;
	}

	.quality__wrapper {
		width: 100%;
	}

	.quality__content {
		width: 100%;
	}

	.quality__text h1 {
		font-size: 30px;
	}
}

@media screen and (max-width: 991px) {
	.quality__wrapper {
		width: 100%;
		flex-direction: column;
		align-items: center;
		padding: 20px 0 0 0;
	}

	.quality__content {
		padding: 0 10px;
	}

	.quality__text h1 {
		font-size: 26px;
	}

	.quality__right-bar {
		width: 100%;
		padding: 0 10px 10px 10px;
	}

	.quality__swiper {
		width: unset;
	}

	.quality__swiper-buttons {
		display: none;
	}
}
