* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: EuropedemiNormal, sans-serif;
	font-style: normal;
}

html {
	max-width: 1920px;
}
button:hover {
	opacity: 0.6;
}
