* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: EuropeNormal, sans-serif;
	font-style: normal;
}

html {
	max-width: 1920px;
}

.body_overflow-hidden {
	overflow: hidden;
}

button:hover {
	cursor: pointer;
	opacity: 0.6;
}

a {
	text-decoration: none;
}

a:hover {
	opacity: 0.6;
	cursor: pointer;
}

a:focus {
	border: dotted 1px #16274A;
}
