<header class="header header@@if (context.class) {@@class}">
	<div class="header__wrapper">
		<a href="/index.html"><img class="header__logo" src="@images/@@if (context.logo) {@@logo}" alt="logo"></a>
		<nav class="header__menu">
			<a class="header__nav-link header__nav-link_active" href="/about-company.html">О компании</a>
			<a class="header__nav-link" href="/directions.html">Направления</a>
			<a class="header__nav-link">Система качества</a>
			<a class="header__nav-link">Партнерам</a>
			<a href="mailto:postbox@ugrangp.ru" class="header__button">Пригласить в тендер</a>
		</nav>
		<a class="header__phone" href="tel:+7 (347) 246-28-13">+7 (347) 246-28-13</a>
		<button class="header__burger-button header__burger-button@@if (context.class) {@@class}" id="burger-button"></button>
	</div>
</header>
