<header class="header">
	<div class="header__wrapper">
		<img class="header__logo" src="@images/logo.png" alt="logo">
			<div class="header__menu">
				<nav>
					<a class="header__nav-link">О компании</a>
				</nav>
				<nav>
					<a class="header__nav-link">Направления</a>
				</nav>
				<nav>
					<a class="header__nav-link">Система качества</a>
				</nav>
				<nav>
					<a class="header__nav-link">Партнёрам</a>
				</nav>
				<a href="mailto:" class="header__button">Пригласить в тендер</a>
			</div>
		<span class="header__phone">+7 (347) 246-28-13</span>
		<button class="header__burger-button"></button>
	</div>
</header>
