<div class="map__wrapper">
	<div class="map__container">
		<img class="map__map-image" src="@images/map.png">
			<span class="map__map-mark" style="top: 48%; left: 5.5%;">
				<div class="map__map-card">
					<span>Город</span>
					<span>Югра</span>
					<span>Заказчики</span>
					<span>ООО “Газпромнефть-Хантос”</span>
					<span>АО “БерезкаГаз Югра</span>
					<a class="map__button" href="/about-project.html">О проекте</a>
				</div>
			</span>
			<span class="map__map-mark" style="top: 34%; left: 17%;">
				<div class="map__map-card">
					<span>Город</span>
					<span>Югра</span>
					<span>Заказчики</span>
					<span>ООО “Газпромнефть-Хантос”</span>
					<span>АО “БерезкаГаз Югра</span>
					<a class="map__button" href="/about-project.html">О проекте</a>
				</div>
			</span>
			<span class="map__map-mark" style="top: 44%; left: 20%;">
				<div class="map__map-card">
					<span>Город</span>
					<span>Югра</span>
					<span>Заказчики</span>
					<span>ООО “Газпромнефть-Хантос”</span>
					<span>АО “БерезкаГаз Югра</span>
					<a class="map__button" href="/about-project.html">О проекте</a>
				</div>
			</span>
			<span class="map__map-mark" style="top: 57%; left: 25%;">
				<div class="map__map-card">
					<span>Город</span>
					<span>Югра</span>
					<span>Заказчики</span>
					<span>ООО “Газпромнефть-Хантос”</span>
					<span>АО “БерезкаГаз Югра</span>
					<a class="map__button" href="/about-project.html">О проекте</a>
				</div>
			</span>
			<span class="map__map-mark" style="top: 49%; left: 28%;">
				<div class="map__map-card">
					<span>Город</span>
					<span>Югра</span>
					<span>Заказчики</span>
					<span>ООО “Газпромнефть-Хантос”</span>
					<span>АО “БерезкаГаз Югра</span>
					<a class="map__button" href="/about-project.html">О проекте</a>
				</div>
			</span>
			<span class="map__map-mark" style="top: 52%; left: 31%;">
				<div class="map__map-card">
					<span>Город</span>
					<span>Югра</span>
					<span>Заказчики</span>
					<span>ООО “Газпромнефть-Хантос”</span>
					<span>АО “БерезкаГаз Югра</span>
					<a class="map__button" href="/about-project.html">О проекте</a>
				</div>
			</span>
			<span class="map__map-mark" style="top: 49%; left: 36%;">
				<div class="map__map-card">
					<span>Город</span>
					<span>Югра</span>
					<span>Заказчики</span>
					<span>ООО “Газпромнефть-Хантос”</span>
					<span>АО “БерезкаГаз Югра</span>
					<a class="map__button" href="/about-project.html">О проекте</a>
				</div>
			</span>
			<span class="map__map-mark" style="top: 63%; left: 36%;">
				<div class="map__map-card">
					<span>Город</span>
					<span>Югра</span>
					<span>Заказчики</span>
					<span>ООО “Газпромнефть-Хантос”</span>
					<span>АО “БерезкаГаз Югра</span>
					<a class="map__button" href="/about-project.html">О проекте</a>
				</div>
			</span>
			<span class="map__map-mark" style="top: 66%; left: 40%;">
				<div class="map__map-card">
					<span>Город</span>
					<span>Югра</span>
					<span>Заказчики</span>
					<span>ООО “Газпромнефть-Хантос”</span>
					<span>АО “БерезкаГаз Югра</span>
					<a class="map__button" href="/about-project.html">О проекте</a>
				</div>
			</span>
			<span class="map__map-mark" style="top: 35%; left: 41%;">
				<div class="map__map-card">
					<span>Город</span>
					<span>Югра</span>
					<span>Заказчики</span>
					<span>ООО “Газпромнефть-Хантос”</span>
					<span>АО “БерезкаГаз Югра</span>
					<a class="map__button" href="/about-project.html">О проекте</a>
				</div>
			</span>
			<span class="map__map-mark" style="top: 46%; left: 43%;">
				<div class="map__map-card">
					<span>Город</span>
					<span>Югра</span>
					<span>Заказчики</span>
					<span>ООО “Газпромнефть-Хантос”</span>
					<span>АО “БерезкаГаз Югра</span>
					<a class="map__button" href="/about-project.html">О проекте</a>
				</div>
			</span>
			<span class="map__map-mark" style="top: 60%; left: 43%;">
				<div class="map__map-card">
					<span>Город</span>
					<span>Югра</span>
					<span>Заказчики</span>
					<span>ООО “Газпромнефть-Хантос”</span>
					<span>АО “БерезкаГаз Югра</span>
					<a class="map__button" href="/about-project.html">О проекте</a>
				</div>
			</span>
			<span class="map__map-mark" style="top: 72%; left: 62%;">
				<div class="map__map-card">
					<span>Город</span>
					<span>Югра</span>
					<span>Заказчики</span>
					<span>ООО “Газпромнефть-Хантос”</span>
					<span>АО “БерезкаГаз Югра</span>
					<a class="map__button" href="/about-project.html">О проекте</a>
				</div>
			</span>
		</img>
	</div>
</div>
