<div class="map__wrapper">
	<div class="map__map-wrapper">
		<img class="map__map" src="@images/map.png">
			<div class="map__map-card" id="card-1">
				<span class="map__text map__text_thin">Город</span>
				<span class="map__text">Югра</span>
				<span class="map__text">Заказчики</span>
				<span class="map__text">ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
				<a class="map__button" href="/about-project.html">О проекте</a>
			</div>
			<span class="map__map-mark" id="mark-1"></span>
			<div class="map__map-card" id="card-2">
				<span class="map__text map__text_thin">Город</span>
				<span class="map__text">Ханты-Мансийск</span>
				<span class="map__text">Заказчики</span>
				<span class="map__text">ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
				<a class="map__button" href="/about-project.html">О проекте</a>
			</div>
			<span class="map__map-mark" id="mark-2"></span>
			<div class="map__map-card" id="card-3">
				<span class="map__text map__text_thin">Город</span>
				<span class="map__text">Югра</span>
				<span class="map__text">Заказчики</span>
				<span class="map__text">ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
				<a class="map__button" href="/about-project.html">О проекте</a>
			</div>
			<span class="map__map-mark" id="mark-3"></span>
			<div class="map__map-card" id="card-4">
				<span class="map__text map__text_thin">Город</span>
				<span class="map__text">Ханты-Мансийск</span>
				<span class="map__text">Заказчики</span>
				<span class="map__text">ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
				<a class="map__button" href="/about-project.html">О проекте</a>
			</div>
			<span class="map__map-mark" id="mark-4"></span>
			<div class="map__map-card" id="card-5">
				<span class="map__text map__text_thin">Город</span>
				<span class="map__text">Югра</span>
				<span class="map__text">Заказчики</span>
				<span class="map__text">ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
				<a class="map__button" href="/about-project.html">О проекте</a>
			</div>
			<span class="map__map-mark" id="mark-5"></span>
			<div class="map__map-card" id="card-6">
				<span class="map__text v__text_thin">Город</span>
				<span class="map__text">Ханты-Мансийск</span>
				<span class="map__text">Заказчики</span>
				<span class="map__text">ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
				<a class="map__button" href="/about-project.html">О проекте</a>
			</div>
			<span class="map__map-mark" id="mark-6"></span>
			<div class="map__map-card" id="card-7">
				<span class="map__text map__text_thin">Город</span>
				<span class="map__text">Югра</span>
				<span class="map__text">Заказчики</span>
				<span class="map__text">ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
				<a class="map__button" href="/about-project.html">О проекте</a>
			</div>
			<span class="map__map-mark" id="mark-7"></span>
			<div class="map__map-card" id="card-8">
				<span class="map__text map__text_thin">Город</span>
				<span class="map__text">Ханты-Мансийск</span>
				<span class="map__text">Заказчики</span>
				<span class="map__text">ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
				<a class="map__button" href="/about-project.html">О проекте</a>
			</div>
			<span class="map__map-mark" id="mark-8"></span>
			<div class="map__map-card" id="card-9">
				<span class="map__text map__text_thin">Город</span>
				<span class="v__text">Югра</span>
				<span class="map__text">Заказчики</span>
				<span class="map__text">ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
				<a class="map__button" href="/about-project.html">О проекте</a>
			</div>
			<span class="map__map-mark" id="mark-9"></span>
			<div class="map__map-card" id="card-10">
				<span class="map__text map__text_thin">Город</span>
				<span class="map__text">Ханты-Мансийск</span>
				<span class="map__text">Заказчики</span>
				<span class="map__text">ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
				<a class="map__button" href="/about-project.html">О проекте</a>
			</div>
			<span class="map__map-mark" id="mark-10"></span>
			<div class="map__map-card" id="card-11">
				<span class="map__text geography__text_thin">Город</span>
				<span class="map__text">Югра</span>
				<span class="map__text">Заказчики</span>
				<span class="map__text">ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
				<a class="v__button" href="/about-project.html">О проекте</a>
			</div>
			<span class="map__map-mark" id="mark-11"></span>
			<div class="map__map-card" id="card-12">
				<span class="map__text geography__text_thin">Город</span>
				<span class="map__text">Ханты-Мансийск</span>
				<span class="map__text">Заказчики</span>
				<span class="map__text">ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
				<a class="map__button" href="/about-project.html">О проекте</a>
			</div>
			<span class="map__map-mark" id="mark-12"></span>
			<div class="v__map-card" id="card-13">
				<span class="map__text map__text_thin">Город</span>
				<span class="map__text">Ханты-Мансийск</span>
				<span class="map__text">Заказчики</span>
				<span class="map__text">ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
				<a class="map__button" href="/about-project.html">О проекте</a>
			</div>
			<span class="map__map-mark" id="mark-13"></span>
		</img>
	</div>
</div>
