<div class="map__wrapper">
	<div class="map__container">
		<img class="map__map-image" src="@images/map.png">
			<div class="map__map-card" id="card-1">
				<span>Город</span>
				<span>Югра</span>
				<span>Заказчики</span>
				<span>ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
				<a class="map__button" href="/about-project.html">О проекте</a>
			</div>
			<span class="map__map-mark" id="mark-1"></span>
			<div class="map__map-card" id="card-2">
				<span>Город</span>
				<span>Югра</span>
				<span>Заказчики</span>
				<span>ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
				<a class="map__button" href="/about-project.html">О проекте</a>
			</div>
			<span class="map__map-mark" id="mark-2"></span>
			<div class="map__map-card" id="card-3">
				<span>Город</span>
				<span>Югра</span>
				<span>Заказчики</span>
				<span>ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
				<a class="map__button" href="/about-project.html">О проекте</a>
			</div>
			<span class="map__map-mark" id="mark-3"></span>
			<div class="map__map-card" id="card-4">
				<span>Город</span>
				<span>Югра</span>
				<span>Заказчики</span>
				<span>ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
				<a class="map__button" href="/about-project.html">О проекте</a>
			</div>
			<span class="map__map-mark" id="mark-4"></span>
			<div class="map__map-card" id="card-5">
				<span>Город</span>
				<span>Югра</span>
				<span>Заказчики</span>
				<span>ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
				<a class="map__button" href="/about-project.html">О проекте</a>
			</div>
			<span class="map__map-mark" id="mark-5"></span>
			<div class="map__map-card" id="card-6">
				<span>Город</span>
				<span>Югра</span>
				<span>Заказчики</span>
				<span>ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
				<a class="map__button" href="/about-project.html">О проекте</a>
			</div>
			<span class="map__map-mark" id="mark-6"></span>
			<div class="map__map-card" id="card-7">
				<span>Город</span>
				<span>Югра</span>
				<span>Заказчики</span>
				<span>ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
				<a class="map__button" href="/about-project.html">О проекте</a>
			</div>
			<span class="map__map-mark" id="mark-7"></span>
			<div class="map__map-card" id="card-8">
				<span>Город</span>
				<span>Югра</span>
				<span>Заказчики</span>
				<span>ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
				<a class="map__button" href="/about-project.html">О проекте</a>
			</div>
			<span class="map__map-mark" id="mark-8"></span>
			<div class="map__map-card" id="card-9">
				<span>Город</span>
				<span>Югра</span>
				<span>Заказчики</span>
				<span>ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
				<a class="map__button" href="/about-project.html">О проекте</a>
			</div>
			<span class="map__map-mark" id="mark-9"></span>
			<div class="map__map-card" id="card-10">
				<span>Город</span>
				<span>Югра</span>
				<span>Заказчики</span>
				<span>ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
				<a class="map__button" href="/about-project.html">О проекте</a>
			</div>
			<span class="map__map-mark" id="mark-10"></span>
			<div class="map__map-card" id="card-11">
				<span>Город</span>
				<span>Югра</span>
				<span>Заказчики</span>
				<span>ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
				<a class="map__button" href="/about-project.html">О проекте</a>
			</div>
			<span class="map__map-mark" id="mark-11"></span>
			<div class="map__map-card" id="card-12">
				<span>Город</span>
				<span>Югра</span>
				<span>Заказчики</span>
				<span>ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
				<a class="map__button" href="/about-project.html">О проекте</a>
			</div>
			<span class="map__map-mark" id="mark-12"></span>
			<div class="map__map-card" id="card-13">
				<span>Город</span>
				<span>Югра</span>
				<span>Заказчики</span>
				<span>ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
				<a class="map__button" href="/about-project.html">О проекте</a>
			</div>
			<span class="map__map-mark" id="mark-13"></span>
		</img>
	</div>
</div>
