<div class="presentation">
	<div class="presentation__header">
		<h2>Презентация компании</h2>
		<a href="#" download="#" class="presentation__button"></a>
	</div>
	<ul class="presentation__list">
		<li class="presentation__list-item">
			<h3>>300</h3>
			<h4>Человек</h4>
			<h5>Численность сотрудников</h5>
		</li>
		<li class="presentation__list-item">
			<h3>840</h3>
			<h4>Млн.руб/год</h4>
			<h5>Среднегодовой оборот за последние 3 года</h5>
		</li>
		<li class="presentation__list-item">
			<h3>>430</h3>
			<h4>Положительных<br> заключений</h4>
			<h5>экспертиз</h5>
		</li>
		<li class="presentation__list-item">
			<h3>>4000</h3>
			<h4>Киллометров</h4>
			<h5>промысловых и нефтегазопроводов</h5>
		</li>
		<li class="presentation__list-item">
			<h3>840</h3>
			<h4>Млн.руб/год</h4>
			<h5>Среднегодовой оборот за последние 3 года</h5>
		</li>
	</ul>
	<div class="presentation__footer">
		<h2>Контакты компании</h2>
		<div>
			<img class="presentation__phone-icon" src="@icons/phone.svg">
			<a href="tel:+7 (347) 246-28-13">+7 (347) 246-28-13</a>
		</div>
		<div>
			<img class="presentation__phone-icon" src="@icons/email.svg">
			<a href="mailto:postbox@ugrangp.ru">postbox@ugrangp.ru</a>
		</div>
	</div>
</div>
