<div class="nav-bar swiper">
	<nav class="nav-bar__wrapper swiper-wrapper">
		<div class="nav-bar__slide swiper-slide">
			<a class="nav-bar__link" href="#">О компании</a>
		</div>
		<div class="nav-bar__slide swiper-slide">
			<a class="nav-bar__link " href="#">Новости</a>
		</div>
		<div class="nav-bar__slide swiper-slide">
			<a class="nav-bar__link" href="#">Карьера</a>
		</div>
		<div class="nav-bar__slide swiper-slide">
			<a class="nav-bar__link" href="#">Документация</a>
		</div>
		<div class="nav-bar__slide swiper-slide">
		</div>
		<div class="nav-bar__slide swiper-slide">
		</div>
	</nav>
	<div class="nav-bar__button swiper-button-next"><img src="@icons/nav-bar-button.svg"></img></div>
	</div>
</div>


