.accordion__list {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
}

.accordion__item {
	padding: 30px 25px;
}

.accordion-icon {
	z-index: 2;
}

.accordion__item_active {
	box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
	background-repeat: no-repeat;
	background-position: right;
	background: unset;
}

.accordion__item_active .accordion__content {
	height: unset;
	margin-top: 20px;
}

.accordion__item_active .accordion-icon {
	transform: rotate(180deg);
}

.accordion__toggle {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.accordion__link {
	font-size: 20px;
	line-height: 24px;
	text-transform: unset;
}

.accordion-icon {
	transition: 0.7s;
}

.accordion-icon:hover {
	opacity: .6;
}

.accordion__content {
	overflow: hidden;
	height: 0;
	display: flex;
	z-index: 3;
	flex-direction: column;
	margin-right: 290px;
}

.accordion__item {
	position: relative;
	overflow: hidden;
}

.accordion__background-image {
	max-width: 290px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	display: none;
	object-fit: cover;
}

.accordion__item_active .accordion__background-image {
	display: block;
}

@media screen and (max-width: 1350px) {
	.accordion__content {
		margin-right: 44px;
	}

	.accordion__item_active .accordion__background-image {
		display: none;
	}
}

@media screen and (max-width: 991px) {
	.accordion__item {
		padding: 20px 10px;
	}
}


