<section class="other-directions">
	<div class="other-directions__wrapper">
		<h2>Другие направления</h2>
		<div class="accordion other-directions__accordeon">
			<div class="accordion__list">
				<div class="accordion__item">
					<div class="accordion__toggle">
						<h3 class="accordion__link">Подготовка материалов</h3>
						<div class="accordion-icon">
							<img src="@icons/accordeon-arrow-blue.svg" alt="accordion-icon">
						</div>
					</div>
					<div class="accordion__content">
						<p>Обязательная часть градостроительной деятельности, обеспечивающая комплексное изучение природных условий территории (региона, района, площадки, участка, трассы) и факторов техногенного воздействия на территорию объектов капитального строительства для решения следующих задач</p>
						<a>Подробнее</a>
					</div>
				</div>
				<div class="accordion__item">
					<div class="accordion__toggle">
						<h3 class="accordion__link">Обследование состояния </h3>
						<div class="accordion-icon">
							<img src="@icons/accordeon-arrow-blue.svg" alt="accordion-icon">
						</div>
					</div>
					<div class="accordion__content">
						<p>Обязательная часть градостроительной деятельности, обеспечивающая комплексное изучение природных условий территории (региона, района, площадки, участка, трассы) и факторов техногенного воздействия на территорию объектов капитального строительства для решения следующих задач</p>
					</div>
				</div>
				<div class="accordion__item">
					<div class="accordion__toggle">
						<h3 class="accordion__link">3D проектирование</h3>
						<div class="accordion-icon">
							<img src="@icons/accordeon-arrow-blue.svg" alt="accordion-icon">
						</div>
					</div>
					<div class="accordion__content">
						<p>Обязательная часть градостроительной деятельности, обеспечивающая комплексное изучение природных условий территории (региона, района, площадки, участка, трассы) и факторов техногенного воздействия на территорию объектов капитального строительства для решения следующих задач</p>
					</div>
				</div>
				<div class="accordion__item">
					<div class="accordion__toggle">
						<h3 class="accordion__link">Типизация и унификация</h3>
						<div class="accordion-icon">
							<img src="@icons/accordeon-arrow-blue.svg" alt="accordion-icon">
						</div>
					</div>
					<div class="accordion__content">
						<p>Обязательная часть градостроительной деятельности, обеспечивающая комплексное изучение природных условий территории (региона, района, площадки, участка, трассы) и факторов техногенного воздействия на территорию объектов капитального строительства для решения следующих задач</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
