<section class="project">
	<div class="project__wrapper">
		<div class="project__content">
			<h2 class="project__title">ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</h2>
			<span class="project__city">Ханты-Мансийск</span>
			<p class="project__text">ООО «Югранефтегазпроект» информирует о начале процесса общественных обсуждений по объекту государственной экологической экспертизы «Обустройство разведочной скважины №30 Объекта 19/1 (Ш-17-22)» включая оценку воздействия на окружающую среду.</p>
			<p class="project__text">Цель намечаемой деятельности: установка блок-кондуктора БК-1 для размещения одной разведочной скважины №30 с последующим переводом в эксплуатационную и установкой технологического и другого эксплуатационного оборудования на этапе пробной эксплуатации.</p>
			<span class="project__customer">Заказчик документации: Государственное унитарное предприятие Республики Крым «Черноморнефтегаз»</span>
			<span class="project__adress project__text">
				<span>Юридический адрес: 295000, Россия, Республика Крым, г. Симферополь, пр. Кирова, 52.</span>
				<span>Фактический адрес:</span>
				<span>ИНН 9102048801, ОГРН 1149102099717</span>
				<span>Контактное лицо:</span>
				<span>E-mail: office@chernomorneftegaz.ru</span>
				<span>Тел: 8 (347) 246-28-13</span>
			</span>
			<img class="project__image" src="@images/project-image.png" />
		</div>
		<div class="project__swiper swiper">
			<div class="project__swiper-wrapper swiper-wrapper">
				<div class="project__slide swiper-slide">
					<span class="project__slide-date">14 февраля 2022</span>
					<span class="project__slide-title">ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
					<a class="project__slide-button">Подробнее</a>
				</div>
				<div class="project__slide swiper-slide">
					<span class="project__slide-date">14 февраля 2022</span>
					<span class="project__slide-title">ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
					<a class="project__slide-button">Подробнее</a>
				</div>
				<div class="project__slide swiper-slide">
					<span class="project__slide-date">14 февраля 2022</span>
					<span class="project__slide-title">ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
					<a class="project__slide-button">Подробнее</a>
				</div>
				<div class="project__slide swiper-slide">
					<span class="project__slide-date">14 февраля 2022</span>
					<span class="project__slide-title">ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
					<a class="project__slide-button">Подробнее</a>
				</div>
				<div class="project__slide swiper-slide">
					<span class="project__slide-date">14 февраля 2022</span>
					<span class="project__slide-title">ООО “Газпромнефть-Хантос” АО “БерезкаГаз Югра”</span>
					<a class="project__slide-button">Подробнее</a>
				</div>
			</div>
		</div>
		<div class="project__pagination swiper-pagination"></div>
	</div>
</section>
