* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: 400;
	font-family: "europe";
	font-style: normal;
}

html {
  margin: auto;
}

main {
	min-height: calc(100vh - 584px);
	background-color: #eee;
	display: flex;
	flex-direction: column;
	align-items: center;
}

section {
	width: 100%;
}

.body_overflow-hidden {
	overflow: hidden;
}

button:hover {
	cursor: pointer;
}

a {
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

a:focus {
	border: dotted 1px #16274A;
}

.swiper-pagination {
	position: unset !important;
}

.swiper-pagination-bullet {
	width: 16px !important;
	height: 16px !important;
}

.swiper-pagination-bullet-active {
	background-color: #0F1A31 !important;
}
