* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-weight: 400;
	font-family: EuropeNormal, sans-serif;
	font-style: normal;
}

html {
  margin: auto;
	max-width: 1920px;
}

.body_overflow-hidden {
	overflow: hidden;
}

button:hover {
	cursor: pointer;
	opacity: 0.6;
}

a {
	text-decoration: none;
}

a:hover {
	opacity: 0.6;
	cursor: pointer;
}

a:focus {
	border: dotted 1px #16274A;
}


.swiper-pagination-bullet {
	width: 16px;
	height: 16px;
}

.swiper-pagination-bullet-active {
	background-color: #0F1A31;
}
